.main1 {
  background: linear-gradient(to top, #0072bb, white);
  height: 100vh;
}
.font {
  font-size: x-small !important;
  letter-spacing: 2px !important;
}
.font:hover {
  text-shadow: 0 0 10px #111c36 !important;
  color: #111c36;
}

.heading {
  color: #2e7ece !important;
  letter-spacing: 4px !important;
  font-family: Plusjakartadisplay, sans-serif;
}
.input_sign {
  border-color: rgb(153, 195, 234) !important;
}
.card_sign {
  margin: 100px !important;
  width: 700px;
  height: 350px;
  border-radius: 20px;
  border: solid 1px #509eec;
}
.login {
  background-color: #1fb458 !important;
  border-radius: 20px;
  border: none;
  width: 200px;
  color: #ffffff !important;
  font-size: smaller !important;
}
.login:hover {
  box-shadow: 0 0 20px #406cd3;
  background-color: black !important;
  color: #ffffff !important;
}
.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
}
.text_malayalam_sign {
  font-size: 7px !important;
  color: #e10303;
}
.logo2 {
  font-size: 11px !important;
  color: #000000 !important;
  font-family: Plusjakartadisplay, sans-serif;
}